<nav class="navbar navbar-dark bg-warning">
  <div class="container-fluid navContainer">
      <div class="navbar navRow">
        <span class="navbar-brand mb-0 h1">CRUD Application</span>
        <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">Home</a>
        <a class="nav-link" href="#"[routerLink]="['/employees']">Employees</a>
        <a class="nav-link" href="#" [routerLink]="['/auth']">Login</a>
        <a class="nav-link" href="#" [routerLink]="['/auth/signup']">SignUp</a>
      </div>
  </div>
</nav>
