<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="my-5 text-info text-center">Login</h1>
    <hr/>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="mail"/>
        <span class="text-danger">{{checkValidation('mail')}}</span>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password"/>
        <span class="text-danger">{{checkValidation('password')}}</span>
      </div>
      <div class="m-3">
        <button class="btn btn-warning" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
